* {
    margin: 0;
    padding: 0;
}

main {
    background-color: #222222;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Area da estilizacao dos elementos no cartao central*/

#cartao-container {
    padding: 1%;
    display: flex;
    flex-direction: column;
    border: solid 1px white;
    border-radius: 20px;
    height: 45%;
    width: 35%;
    background-color: #FF0000;
}

#inputArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    border-radius: 10px;
    height: 13%;
    margin-bottom: 2%;
}

#inpTarefa {
    height: 90%;
    border: 1px solid wh;
    border-radius: 20px;
    background-color: #222222;
    
}

#espacoErroTarefa {
    border: solid 1px green;
    color: green;
    height: 30%;
    width: 40%;
}

#containerBotoesInp {
    display: flex;
    justify-content: right;
    flex-direction: row;
    gap: 4%;
    align-items: center;
    height: 100%;
    width: 20%;
}

#botaoAdd {
    border: 1px solid black;
    height: 98%;
    width: 48%;
}

#botaoConfirmarEdicao {
    display: none;
    border: 2px solid black;
    height: 98%;
    width: 48%;
}

#tarefasContainer { 
    display: flex;
    flex-direction: column;
    gap: 1%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 86%;
    border: 2px solid black;
}

/*Area da estilizacao das tarefas(botoes/texto)*/

.tarefaContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    height: 13%;
    width: 1;
    border: 2px solid grey;
    border-radius: 2px;
}

.texto-tarefa {
    display: flex;
    padding-left: 2%;
    align-items: center;
    border: 1px solid black;
    height: 100%;
    width: 70%;
}

.botoes{
    display: flex;
    flex-direction: row;
    gap: 2%;
    border: 2px solid red;
    height: 100%;
    width: 30%;
}

.botao-editar-tarefa {
    height: 100%;
    width: 49%;
}

.botao-excluir-tarefa {
    height: 100%;
    width: 49%;
}

